
/******************
    Global Styles
******************/
body {
 background-color: #fff;
 color: #333;
 font: "helvetica neue", helvetica, verdana, arial, sans-serif;
}

.container {
 width: 620px;
 padding: 0px;
 margin: 0 auto;
}

.highlight {
 background: #ffff99;
}

div#navigation {
 border-bottom: 2px solid #FF6600;
 margin-bottom: 10px;
}

div#pagination {
 text-align: center;
 padding: 5px 0px 5px 0px;
}

.pagination a {
  padding-left: 10px;
  padding-right: 10px;   
}

div#navigation  nav{
 padding-top: 15px;
}

div#profile {
    margin-top: 20px;
}

div#controls{
 margin-bottom: 10px;
}

.clear {
 clear: both;
}

#appMessage {
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1000;
 background: #CC0000;
 background: -moz-linear-gradient(top, #CC0000 0%, #CC0000 100%);
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC0000', endColorstr='#CC0000')";
 -pie-background: linear-gradient(#CC0000, #CC0000 100%);
 behavior: url(PIE.htc);
 height: 25px;
 text-align: center;
 padding: 15px 0px 15px 0px;
 color: #fff;
}

#appMessage  .success {
 background: #5BB75B;
 background: -moz-linear-gradient(top, #5BB75B 0%, #5BB75B 100%);
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5BB75B', endColorstr='#5BB75B')";
 -pie-background: linear-gradient(#5BB75B, #5BB75B 100%);
}

#appMessage  .error {
 background: #CC0000;
 background: -moz-linear-gradient(top, #CC0000 0%, #CC0000 100%);
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC0000', endColorstr='#CC0000')";
 -pie-background: linear-gradient(#CC0000, #CC0000 100%);
}



/*****************
    Table Styles
******************/

table#bookmarks-table {
 width: 100%;
 margin-bottom: 0px;
}

table thead {
 padding: 10px 14px;
 margin: 0 0 18px;
 list-style: none;
 background-color: #fbfbfb;
 background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
 background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
 background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
 background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
 background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
 background-image: linear-gradient(top, #ffffff, #f5f5f5);
 background-repeat: repeat-x;
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
 -webkit-box-shadow: inset 0 1px 0 #ffffff;
 -moz-box-shadow: inset 0 1px 0 #ffffff;
 box-shadow: inset 0 1px 0 #ffffff;
}


table td.bookmark-left-td {
 padding-left: 10px;
 width: 40px
}



/********************
    Bookmark Styles
*********************/
table td div {
  padding-top: 1px;
  padding-bottom: 1px;
}

div.bookmark-date {
 position: absolute;
 width: 85px;
 line-height: 20px;
 margin-top:5px;
 padding: 10px;
 font-size: 14px;
 text-align: center;
 color: #000;
 background: rgb(255, 255, 255);
 border: 4px solid rgb(130, 130, 130);
 border-radius: 5px;
 text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
 box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
 font-weight: bold;
}

/* Date formating */
.date {
 float: left;
 left: 0;
 margin-bottom: 5px;
 margin-left: 0;
 margin-top: 0;
 position: relative;
}

.ribbon {
 color: #EEEEEE;
 cursor: default;
 display: inline-block;
 text-align: center;
 width: 35px;
}

.ribbon .ribbon-piece {
 -moz-transition-delay: 0s;
 -moz-transition-duration: 0.5s;
 -moz-transition-property: background-color;
 -moz-transition-timing-function: ease-in;
 background-color: #666666;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a.ribbon:hover .ribbon-piece {
 background-color: #AD3A2B;
 color: #EEEEEE;
}
.ribbon .top, .ribbon .middle {
 border-bottom-color: rgba(255, 255, 255, 0.6);
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 border-top-left-radius: 1px;
 border-top-right-radius: 1px;
 font-size: 11px;
 padding-bottom: 4px;
 padding-left: 0;
 padding-right: 0;
 padding-top: 4px;
 position: relative;
 text-transform: uppercase;
}
.ribbon .bottom {
 font-size: 17px;
 padding-bottom: 5px;
 padding-left: 0;
 padding-right: 0;
 padding-top: 5px;
}

.ribbon .tail {
 height: 10px;
 overflow-x: hidden;
 overflow-y: hidden;
 position: relative;
}
.ribbon .tail .left, .ribbon .tail .right {
 height: 10px;
 position: absolute;
 top: -10px;
 width: 50px;
}
.ribbon .tail .left {
 -moz-transform: rotate(-25deg);
 -webkit-transform: rotate(-25deg);
 -ms-transform: rotate(-25deg);
 -o-transform: rotate(-25deg); 
 transform: rotate(-25deg);
 left: -9px;
}
.ribbon .tail .right {
 -moz-transform: rotate(25deg);
 -webkit-transform: rotate(25deg);
 -ms-transform: rotate(25deg);
 -o-transform: rotate(25deg); 
 transform: rotate(25deg);
 right: -9px;
}
.ribbon.small {
 width: 25px;
}
.ribbon.small .top {
 font-size: 9px;
 padding-bottom: 2px;
 padding-left: 0;
 padding-right: 0;
 padding-top: 2px;
}
.ribbon.small .bottom {
 font-size: 12px;
 padding-bottom: 3px;
 padding-left: 0;
 padding-right: 0;
 padding-top: 3px;
}
.ribbon.small .tail {
 height: 6px;
}
.ribbon.small .tail .left, .ribbon.small .tail .right {
 height: 6px;
 top: -7px;
 width: 40px;
}
.ribbon.small .tail .left {
 left: -6px;
}
.ribbon.small .tail .right {
 right: -6px;
}
/* end of date formating */


div.bookmark-edit {
 display: none;
}

div.bookmark-main-edit, div.bookmark-tags  {
  padding-top: 2px;
}

div.bookmark-tags .label {
 margin-left: 3px;
}

div.bookmark-notes {
  color: #828282;
}

span.hostname {
  color: #828282;
}

div a.bookmark-edit-link,  div a.bookmark-delete {
 color: #FF6600;
 margin-right: 2px;
}

div a.bookmark-url {
 color: #000;
 font-weight: bold;
 font-size: 14px;
}




/*****************
    Forms Styles
******************/
form.well {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.50);
}

#login-form {
 display: none;
}

form label {
  color: #000;
}

form input.input, form textarea.input-xlarge {
  width: 400px;
}

form.bookmark-edit-form label {
  float: left;
  width: 45px;
}

form#settings-form label.control-label, form#login-form label.control-label, form#register-form label.control-label {
  width: 80px;
  text-align: left;
}

form#settings-form .controls, form#login-form .controls, form#register-form .controls {
  margin-left: 0px;
}

form input.warning {
 border: 1px solid red !important; 
}

form.bookmark-edit-form .save, form.bookmark-edit-form .cancel {
  color: #000;
}

form input.span3 {
  width: 400px;
}




/*************
    Footer
**************/

footer  {
 border-top: 2px solid #FF6600;
 margin-top: 20px;
 margin-bottom: 40px;
 padding-top: 0.83em;
}

footer nav ul {
 margin-left: 0px;
}

footer nav ul li {
 display: inline;
 margin-right: 20px;
}