<% if (totalPages > 1) { %>
<ul>
   <% if ((totalPages > 2) && showFirstLast && totalGroups > 1) { %> <li <% if (currentPage === 1) { %> class='disabled' <% } %> ><a class='first' href='#bookmarks/page/1'>Start</a></li> <% } %>
    <% if (previous && showPreNext) { %> <li><a class='prev' href='#'> &laquo; Prev</a></li><% } else if (!previous && showPreNext) { %>
        <li class='disabled'><a href='#'> &laquo; Prev</a></li>
    <% } %>
    <% for(var i = counter; i <= counterLimit; i++) { %>
        <li <% if (i === +currentPage) { %> class='active' <% } %> ><a class='page' href='#bookmarks/page/<%= i %>'> <%= i %> </a>
    <% } %>
    <% if (next && showPreNext && totalGroups > 1) { %> <li><a class='next' href='#'> Next &raquo; </a></li> <% } else if (!next && showPreNext) { %>
        <li class='disabled'><a href='#'> Next &raquo; </a></li>
    <% } %>
    <% if (totalPages > 2 && showFirstLast && !allFetched && totalGroups > 1) { %> <li><a href='#bookmarks/page/<%= (lastPage + 1) %>'>More</a></li> <% } else if (totalPages > 2 && showFirstLast && allFetched) { %>
        <li class='disabled'><a href='#'> More </a></li>
    <% } %>
</ul>
<% } %>