<form class='well form-horizontal' method='post' name='login-form' id='login-form' action='/login' style='display: block;'>
   <fieldset>
      <legend>Login</legend>
     
      <div class='control-group'>
        <div class='control-group'>
          <label class='control-label' for='email'>Email</label>
           
          <div class='controls'>
            <input type='text' class='span3' id='login-email' placeholder='Enter your email' value='' name='email'>
          </div>
        </div>
        
        <div class='control-group'>
          <label class='control-label' for='password'>Password</label>
           
          <div class='controls'>
            <input type='password' class='span3' id='login-password' placeholder='Enter your password' value='' name='password'>
          </div>
        </div>
        
        <div class='control-group'>
          <label class='control-label'></label>
           
          <div class='controls'>
            <input type='submit' class='btn' id='login-submit' value='Login' name='submit'>
            <a id='register-link' style='margin-left: 20px' href='#register'>Not a member? Register</a>
          </div>
        </div>
    </fieldset>
</form>
