<form class='well form-horizontal' method='post' name='register-form' id='register-form' action='/users'>
   <fieldset>
      <legend>Create an account</legend>
     
      <div class='control-group'>
        <div class='control-group'>
          <label class='control-label' for='name'>Name</label>
           
          <div class='controls'>
            <input type='text' class='span3' id='name' placeholder='Enter your name' value='' name='name'>
          </div>
        </div>
        
        <div class='control-group'>
          <label class='control-label' for='email'>Email</label>
           
          <div class='controls'>
            <input type='text' class='span3' id='email' placeholder='Enter your email' value='' name='email'>
          </div>
        </div>
        
        <div class='control-group'>
          <label class='control-label' for='password'>Password</label>
           
          <div class='controls'>
            <input type='password' class='span3' id='password' placeholder='Enter your password' value='' name='password'>
          </div>
        </div>
        
        <div class='control-group'>
          <label class='control-label'></label>
           
          <div class='controls'>
            <input type='submit' class='btn' id='submit' value='Sign Up' name='submit'>
            <a id='login-link' style='margin-left: 20px' href='#login'>Already registered? Login</a>
          </div>
        </div>
    </fieldset>
</form>