<div class='bookmark-edit'>
    <form class='bookmark-edit-form' name='edit-form' action=''>
        <label for'title'>Title:</label> <input type='text' class='input' name='title' value='<%= title %>'><br>
        <label for'url'>Url:</label> <input type='text' class='input' name='url' value='<%= url %>'><br>
        <label for'notes'>Notes:</label> <input type='text' class='input' name='notes' value='<%= notes %>'><br>
        <label for'tags'>Tags:</label> <input type='text' class='input' name='tags' value='<%= tags %>'><br class='clear'>
        <input type='submit' class='submit button' name='submit' value='Save'>
        <a class='cancel' href='#'>Cancel</a>
    </form>
</div>