div(id='navigation', class='row-fluid container')
  if(loggedIn)
    a(href='/#bookmarks', class='pull-left brand') 
      img(src='http://apps.rflab.co.za/rflab/build/app/images/logo.png', alt='Bookmark Manager', title='Bookmark Manager')
      
  if(!loggedIn)
    a(href='/#home', class='pull-left brand') 
      img(src='http://apps.rflab.co.za/rflab/build/app/images/logo.png', alt='Bookmark Manager', title='Bookmark Manager')
   
  nav
    ul(class='nav nav-pills pull-right')
      if(loggedIn)
        li.bookmarks: a(href='/#bookmarks') Bookmarks
        li.account: a(href='/#users/account') Account
        li.bookmarklet: a(href='/#bookmarks/bookmarklet') Bookmarklet
        li.logout: a(href='/users/logout') Logout
      if(!loggedIn)
        li.home: a(href='/#home') Home
        if(page == 'how-it-works')
          li.active: a(href='https://docs.google.com/presentation/embed?id=1526mAlTwokhylgD7gikbLBXvfhZyB7DMpZduPYUySzY&start=false&loop=false&delayms=3000', title='How it works', id="how-it-works") How it works
        else
          li: a(href='https://docs.google.com/presentation/embed?id=1526mAlTwokhylgD7gikbLBXvfhZyB7DMpZduPYUySzY&start=false&loop=false&delayms=3000', title='How it works', id="how-it-works") How it works
        if(page == 'demo')
          li.active: a(href='/demo', title='Demo', target='_blank') Demo
        else
          li: a(href='/demo', title='Demo') Demo
        li.login: a(href='/#users/login', title='Login') Login
