<td class='bookmark-left-td'>
    <div class='ribbon date'>
        <div class="top ribbon-piece"><%= year %></div>
        <div class="middle ribbon-piece"><%= month %></div>
        <div class="bottom ribbon-piece"><%= day %></div>
        <div class="tail">
            <div class="left ribbon-piece"></div>
            <div class="right ribbon-piece"></div>
        </div>
    </div>
</td>
  
<td class='bookmark-middle-td'>
    <div class='bookmark-main'>
        <div class='bookmark-main-link'>
            <a href='<%= url %>' class='bookmark-url' target='_blank' title='<%= notes %>'><%= title %></a> <span class='hostname'>(<%= hostname %>) </span>
        </div>
        <div class='bookmark-notes'><%= notes %></div>
        <div class='bookmark-tags'>
            <i class="icon-tags"></i>
            <% _.each(tags, function(tag) { %>
                <span class='label b-tag'><%= tag.toLowerCase() %></span>
            <% }); %>
            <% if (publik) { %> <span id='label' class='label label-important'>Public</span> <% } else { %>
                <span id='label' class='label label-info'>Private</span>
            <% } %>
        </div>
        <div class='bookmark-main-edit'>
            <a class='bookmark-read' target='_blank' href='/read/<%= id || _id %>'>Read</a> | <a class='bookmark-edit-link' href='#'>Edit</a> | <a class='bookmark-delete' href='#'>Delete</a>
        </div>
    </div>
    <div class='bookmark-edit'>
    </div>
</td>
