  <div class="container" id="punch-line" style="display: block;">
    <h2>A simple way to manage browser bookmarks</h2>
    <p>Bookmark Manager is a web app that makes it easy to save and manage your browser bookmarks. You can save and retrieve your bookmarks from anywhere.</p>
    
    <h2>How it works </h2>
    <ol>
      <li>Create an account using the form below</li>
      <li>Upon registration you will get 2 buttons for saving and retrieving bookmarks.</li>
      <li>Drag the buttons to your bookmarks toolbar and start using Bookmark Manager</li>
    </ol>
  </div>
  
  <div class="container" id="form-container">
    <form class="well form-horizontal" style="display: block;" method="post" name="register-form" id="register-form" action="/users">
      <fieldset>
        <legend>Create an account</legend>
        
        <div class="control-group">
          <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
              <input type="text" class="span3" id="name" placeholder="Enter your name" name="name">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
              <input type="text" class="span3" id="email" placeholder="Enter your email" name="email">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" class="span3" id="password" placeholder="Enter your password" name="password">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label"></label>
            <div class="control-group">
              <input type="submit" class="btn" id="submit" value="Sign Up" name="submit">
              <a id="login-link" style="margin-left: 20px" href="#user/login">Already registered? Login</a>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>