<div class='pagination pagination-centered mypages'>
    <li><a href="#page/prev">Prev</a></li>
    <% for (var i = 1; i <= pages; i++)  { %>
        <li><a href='/#page/<%= i %>'><%= i %></a></li>
    <% } %>
    <li><a href="#page/next">Next</a></li>
</div>
