<div class="btn-group">
    <button class="btn"> <i class='icon-eye-open'></i> Display </button>
    <button data-toggle="dropdown" class="btn dropdown-toggle">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu limit">
        <li><a href="#">5</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">20</a></li>
        <li><a href="#">50</a></li>
        <li><a href="#">100</a></li>
        <li class="divider"></li>
        <li><a href="#">All</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-info"> <i class='icon-tags icon-white'></i> Tags</button>
    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">
        <span class="caret"></span>
    </button>
    <ul class='dropdown-menu bookmark-menu-tags'>
        <% tags.forEach(function (tag) { %>
            <li>
                <a href='/#tags/<%= tag %>'><%= tag %></a>
            </li>
        <% }) %>
        <li class="divider"></li>
        <li><a href="/#reset">Clear Filter</a></li>
    </ul>
</div>

<div class="btn-group pull-right">
    <button class="btn new-bookmark"> <i class='icon-bookmark'></i> New Bookmark</button>
</div>
