
h2 Developers
p Hi fellow hackers 

p Documentation and the source code are available on 
  a(href='https://github.com/qawemlilo/nodebookmarks', target='_blank') Github
  | . I would like to invite anyone who is interested in the project to 
  a(href='https://github.com/qawemlilo/nodebookmarks', target='_blank') fork it here
  | . Suggections, criticisms(construction being the preferred), and questions are welcome.

br 

p 
  strong Que
  br 
  a(href='mailto:qawemlilo@gmail.com', target='_blank') qawemlilo@gmail.com

