
h2 Developers
p The source code for this project is open source and available on 
  a(href='https://github.com/qawemlilo/nodebookmarks', target='_blank') github
  | . I have tried as best as I can to maintain a well structured, MVC like architecture and would like to invite anyone who is interested in the project to 
  a(href='https://github.com/qawemlilo/nodebookmarks', target='_blank') fork the repo on Github.  
  | Suggections, criticisms(construction being the preferred), and questions are welcome.

h3 Front-end
ul
  li Twitter bootstrap(UI)
  li Backbone(javaScript organisation)
  li EJS (javaScript templating)
  
h3 Back-end (Node)
ul
  li Express (Framework)
  li MongoDB (Database)
  li Mongoose (Database connection)
  li connect-mongo (Session management)

br 

p 
  strong Contact: 
  a(href='mailto:qawemlilo@gmail.com', target='_blank') qawemlilo@gmail.com

