nav
  ul
    
    li.first 
      a(href='/', title='Raging Flame')  
        i.icon-fire    
        |  Raging Flame  
        |  &copy 2012
    li.first: a(href='/', title='About') About
    li.first: a(href='/', title='Privacy') Privacy
    li.first: a(href='/', title='License') License
    
    
script(src='/javascripts/libs/json.js') 
script(src='/javascripts/libs/jquery.js')
script(src='/javascripts/libs/underscore.js')
script(src='/javascripts/libs/backbone.js')
script(src='/javascripts/libs/pagination.js')
script(src='/javascripts/libs/ejs_production.js')
script(src='/javascripts/libs/bootstrap-transition.js')
script(src='/javascripts/libs/bootstrap-collapse.js')
script(src='/javascripts/libs/bootstrap-dropdown.js')
script(src='/javascripts/libs/script.js')
script(src='/javascripts/app.js')
script(src='/javascripts/models/user.js')

if(page === 'index')
  script(src='/javascripts/routes/index.js')
  script(src='/javascripts/views/forms/register-login.js')
  script(type='text/javascript')
    $(function () {
      App.init('index'); 
    });
  
if(page === 'home')
  script(src='/javascripts/models/bookmark.js')
  script(src='/javascripts/collections/bookmarks.js')
  script(src='/javascripts/views/forms/profile.js')
  script(src='/javascripts/views/bookmark/bookmark.js')
  script(src='/javascripts/views/bookmarks/bookmarks.js')
  script(src='/javascripts/views/controls/controls.js')
  script(src='/javascripts/routes/router.js')
  script(src='/javascripts/views/pagination/pagination.js')
  script(src='/javascripts/controller.js')
  script(type='text/javascript')
    $(function () {
      var books = !{JSON.stringify(bookmarks)};
      
      App.init('home', books); 
    });
 
