nav
  ul
    li.first: a(href='/', title='Raging Flame') &copy 2012 - Raging Flame
    li.first: a(href='/', title='About') About
    li.first: a(href='/', title='Privacy') Privacy
    li.first: a(href='/', title='License') License

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/javascripts/libs/underscore-min.js')
script(src='/javascripts/libs/backbone-min.js')
script(src='/javascripts/app.js')
script(src='/javascripts/routes/index.js')
script(src='/javascripts/models/user.js')
script(src='/javascripts/views/form.js')
 
