nav
  ul
    
    li.first 
      a(href='http://www.rflab.co.za/', title='Raging Flame', target='_blank')  
        i.icon-fire    
        |  Raging Flame  
        |  &copy 2012
    li.first: a(href='/#privacy', title='Contact') Terms & Privacy
    li.first: a(href='/#devs', title='Developers') Developers
    li.first: a(href='mailto:qawemlilo@gmail.com', title='Contact', target='_blank') Contact
 
