nav
  ul
    li.first: a(href='/', title='Raging Flame') &copy 2012 - Raging Flame
    li.first: a(href='/', title='About') About
    li.first: a(href='/', title='Privacy') Privacy
    li.first: a(href='/', title='License') License

script(src='/javascripts/libs/jquery-1.7.2.min.js')
script(src='/javascripts/libs/underscore-min.js')
script(src='/javascripts/libs/backbone2-min.js')
script(src='/javascripts/app.js')
script(src='/javascripts/models/user.js')

if(page === 'index')
  script(src='/javascripts/routes/index.js')
  script(src='/javascripts/views/form.js')
  script(type='text/javascript')
    $(function () {
      App.init('index'); 
    });
  
if(page === 'home')
  script(src='/javascripts/routes/home.js')
  script(src='/javascripts/views/settings.js')
  script(type='text/javascript')
    $(function () {
      App.init('home'); 
    });
 
