nav
  ul
    
    li.first 
      a(href='http://qawemlilo.rflab.co.za/', title='Raging Flame', target="_blank")  
        i.icon-fire    
        |  Raging Flame  
        |  &copy 2012
    li.first: a(href='/privacy', title='Contact') Terms & Privacy
    li.first: a(href='/developers', title='Developers') Developers
    li.first: a(href='mailto:qawemlilo@gmail.com', title='Contact', target='_blank') Contact
    
    

script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/libs/jquery.js')
script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/libs/fancybox/jquery.fancybox-1.3.4.pack.js')

script(type='text/javascript')
  $(function () {
    $('#how-it-works').fancybox({
      'width': '75%',
      'height': '96%',
      'autoScale': false,
      'transitionIn': 'none',
      'transitionOut': 'none',
      'type': 'iframe',
      'onStart': function () {}
    });      
  });
  
if(page !== 'privacy' && page !== 'developers')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/libs/script_one-min.js') 

if(page === 'index')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/routes/index.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/views/forms/register.js')
  
  script(type='text/javascript')
    $(function () {
      App.init('index');     
    });
  
if(page === 'home' || page === 'demo')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/models/bookmark.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/collections/bookmarks.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/views/forms/profile.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/views/bookmark/bookmark.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/views/bookmarks/bookmarks.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/views/controls/controls.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/routes/router.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/views/pagination/pagination.js')
  script(src='http://apps.rflab.co.za/bookmarkmanager/javascripts/controller.js')
  script(type='text/javascript')
    $(function () {
      var books = !{JSON.stringify(bookmarks)};
      
      App.init('#{page}', books); 
    });
 
