div(id='navigation', class='container')
  if(loggedIn)
    a(href='/#bookmarks', class='pull-left brand') 
      img(src='/images/logo.png', alt='Bookmark Manager', title='Bookmark Manager')
      
  if(!loggedIn)
    a(href='/#home', class='pull-left brand') 
      img(src='/images/logo.png', alt='Bookmark Manager', title='Bookmark Manager')
      
  nav
    ul(class='nav nav-pills pull-right')
      if(loggedIn)
        li.bookmarks: a(href='/#bookmarks') Bookmarks
        li.account: a(href='/#user/account') Account
        li.logout: a(href='/user/logout') Logout
      if(!loggedIn)
        li.home: a(href='/#home') Home
        if(page == 'demo')
          li.active: a(href='/demo', title='Demo') Demo
        else
          li: a(href='/demo', title='Demo') Demo
        li.login: a(href='/#user/login', title='Login') Login 
