div(id='navigation', class='container')
  a(href='/#index', class='pull-left brand') 
    h1 Bookmarks Manager
  nav
    ul(class='nav nav-pills pull-right')
      if(loggedIn)
        li: a(href='/#settings') Account Settings
        li: a(href='/logout') Log out
      if(!loggedIn)
        li: a(href='/#index') Home
        li: a(href='/#demo', title='Tour') Demo
        li: a(href='/#login', title='Login') Login 
