div(class='container', id='punch-line')
  h2 A simple way to manage browser bookmarks
  p Bookmark Manager is a web app that makes it easy to manage your browser bookmarks. Save your bookmarks and retrieve them from anywhere.
  h2 How it works  
  ol
    li Create an account using the form below
    li Upon registration you will get 2 buttons for saving and retrieving bookmarks.
    li Drag the buttons to your bookmarks bar and start using Bookmark Manager

div(class='alert alert-info', id='bookmark-links', style='display: none; padding-top: 15px;  padding-bottom: 15px; margin-bottom: 0px')
  i(class='icon-hand-up', style='margin-top: -12px')   
  |  ` -  
  
  a(class="bookmarkButton", href="javascript:(function(){var jsScript=document.createElement('script');jsScript.setAttribute('type','text/javascript');jsScript.setAttribute('src','http://localhost:3003/javascripts/libs/add_bookmark.js');document.getElementsByTagName('head')[0].appendChild(jsScript);}());") Save Bookmark!  
  
  a(class="bookmarkButton", href="javascript:(function(){var jsScript=document.createElement('script');jsScript.setAttribute('type','text/javascript');jsScript.setAttribute('src','http://localhost:3003/javascripts/libs/add_bookmark.js');document.getElementsByTagName('head')[0].appendChild(jsScript);}());") View Bookmarks 
  
  i.icon-hand-left  
  |  Drag these buttons to your bookmarks bar 
    
div(id='form-container', class='container')
