div(class='container', id='punch-line')
  h2 A simple way to manage browser bookmarks
  p Bookmark Manager is a web app that makes it easy to manage your browser bookmarks. Save your bookmarks and retrieve them from anywhere.
  h2 How it works  
  ol
    li Create an account using the form below
    li Upon registration you will get 2 buttons for adding bookmarks and viewing bookmarks.
    li Drag the buttons to your bookmarks bar and start using Bookmark Manager
    
div(id='form-container', class='container')
