div.container
  h2 A simple way to manage browser bookmarks
  p Node Bookmarks is a simple way to save your bookmarks. Bookmark.it is a simple way to save your bookmarks. Bookmark.it is a simple way to save your bookmarks.
    | Bookmark.it is a simple way to save your bookmarks.

div(id='form-container', class='container')
