div.container
  h2 Bookmarks Manager is a simple way to organise and manage your bookmarks
  p Node Bookmarks is a simple way to save your bookmarks. Bookmark.it is a simple way to save your bookmarks. Bookmark.it is a simple way to save your bookmarks.
    | Bookmark.it is a simple way to save your bookmarks.

div(id='form-container', class='container')
