
div(class='row-fluid', style='margin-top: 20px')
  ul.pager
    li.previous
      a(href='/')
        i.icon-home     
        |   Home
    
    li.next
      a(href='#{href}')
        i.icon-globe  
        |   Original Page

h1 
  !{articletitle}
  
div(class='article row-fluid')
  !{article}